.topbar.navbar.navbar-fixed-top(style='z-index: 2;')
  .navbar-inner#topbar
    !=link_to(' ','/', {class: 'logo'})
    span(class='buttons')
      !=img_tag('/assets/add.svg', 'add', {class:'button'})
      !=img_tag('/assets/i.svg', 'add', {class:'button'})
    ul.tabs
      li.selected
        !=link_to('my feed', '/')
      li filters
      li
        !=link_to('feeders', '/feeders')
      li to follow
    ul.tabs.pull-right
      li.dropdown
        -if (typeof user == 'undefined' || !user._id)
          !=link_to('Log in', '/splash', {class: 'dropdown-toggle'})
        -else
          a.dropdown-toggle(data-toggle='dropdown')
            !=user.username
          ul.dropdown-menu
            li
              !=link_to('Profile', '/profile')
            li
              !=link_to('Log out', '/logout')