div(class='controls')
  div
    div
      !=img_tag('images/controls/like.svg', 'Like')
    div
      !=img_tag('images/controls/dislike.svg', 'Dislike')
  div
    div
      !=img_tag('images/controls/comment.svg', 'Comment')
    div
      !=img_tag('images/controls/pheedto.svg', 'Pheed to')
  div
    div
      !=img_tag('images/controls/favorite.svg', 'Favorite')
    div
      !=img_tag('images/controls/repheed.svg', 'Re-pheed')
  div
    div
      !=img_tag('images/controls/facebook.png', 'Facebook')
    div
      !=img_tag('images/controls/twitter.png', 'Twitter')