.controls(style='position: relative')
  div
    .control.like(title='Like')
      .counter 0
    .control.dislike(title='Dislike')
      .counter 0
  div
    .control.comment(title='Comment')
      .counter 0
    .control.pheedto(title='Pheed to')
      .counter 0
  div
    .control.favorite(title='Favorite')
      .counter 0
    .control.repheed(title='Re-pheed')
      .counter 0
  div
    .control.facebook(title='Facebook')
      .counter 0
    .control.twitter(title='Twitter')
      .counter 0
  !=img_tag('/images/controls.png', 'controls', {style: 'width: 100%; height: 100%; position: absolute; top: 0; left: 0;'})