.controls(style='position: relative')
  div
    .control.like(title=post.likes.length)
    .control.dislike(title=post.dislikes.length)
  div
    .control.comment(title='Comment')
    .control.pheedto(title='Pheed to')
  div
    .control.favorite(title='Favorite')
    .control.repheed(title='Re-pheed')
  div
    .control.facebook
    .control.twitter
