div(class='controls')
  div
    div
      !=img_tag('images/controls/like.png', 'Like')
      span 0
    div
      !=img_tag('images/controls/dislike.png', 'Dislike')
      span 0
  div
    div
      !=img_tag('images/controls/comment.png', 'Comment')
      span 0
    div
      !=img_tag('images/controls/pheedto.png', 'Pheed to')
      span 0
  div
    div
      !=img_tag('images/controls/favorite.png', 'Favorite')
      span 0
    div
      !=img_tag('images/controls/repheed.png', 'Re-pheed')
      span 0
  div
    div
      !=img_tag('images/controls/facebook.png', 'Facebook')
      span 0
    div
      !=img_tag('images/controls/twitter.png', 'Twitter')
      span 0