.column
  !=partial('container', {title: 'new pheed', publisher: false, content: img_tag('/images/add.png')})
.column
  !=partial('container', {title: 'new pheed', publisher: false, content: img_tag('/images/add.png')})
.column
  !=partial('container', {title: 'new pheed', publisher: false, content: img_tag('/images/add.png')})