div(id='content')
  !=partial('container', {title: 'phollowing', content: partial('posts')})
  !=partial('container', {title: '', content: partial('posts')})
  !=partial('container', {title: '&#x25c4; top phood', content: partial('posts')})