div(id='content')
  !=partial('container', {title: 'my pheed', content: partial('publisher') + partial('posts')})
  !=partial('container', {title: 'pheed.to inbox', content: partial('posts', {max: 3})})
  !=partial('container', {title: 'starred', content: partial('posts', {max: 3, url:'/starred'})})
  !=partial('container', {title: 'pheatured pheeds', content: partial('posts', {url:'/featured'})})
  !=partial('container', {title: 'pheatured phood', content: partial('posts', {url:'/phood'})})
  !=partial('container', {title: 'most interactions', content: partial('posts', {url:'/interactions'})})
  !=partial('container', {title: 'most liked', content: partial('posts', {url:'/likes'})})
  !=partial('container', {title: 'most comments', content: partial('posts', {url:'/comments'})})
  !=partial('container', {title: 'most re-phed', content: partial('posts', {url:'/rephed'})})
  -//&#x25c4;
