div(id='content')
  div(class='column')
    !=partial('container', {title: 'phollowing', content: partial('publisher') + partial('posts', {num: 3})})
    !=partial('container', {title: 'pheatured pheeds', content: partial('posts')})
    !=partial('container', {title: 'most liked', content: partial('posts')})
  div(class='column')
    !=partial('container', {title: '', content: partial('posts', {num: 3})})
    !=partial('container', {title: 'pheatured phood', content: partial('posts')})
    !=partial('container', {title: 'most comments', content: partial('posts')})
  div(class='column')
    !=partial('container', {title: '&#x25c4; top phood', content: partial('posts', {num: 3})})
    !=partial('container', {title: 'most interactions', content: partial('posts')})
    !=partial('container', {title: 'most re-phed', content: partial('posts')})