<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/reset.css' />
    <link rel='stylesheet' href='/default.css' />
  </head>
  <body>
  <%- body %>
  </body>
</html>