!!!
html
  head
    title pheed.it
    link(rel='stylesheet', href='/reset.css')
    link(rel='stylesheet', href='/default.css')
    !=js_tag('http://code.jquery.com/jquery-latest.min.js')
    !=js_tag('/default.js')
  body
    div(class='topbar')
      div(id='topbar')
        span(class='logo')
          !=img_tag('images/logo_p.svg', '', {class:'logo_p'}) + 'hee' + img_tag('images/logo_d.svg', '', {class:'logo_d'}) + '.it'
        span(class='buttons')
          !=img_tag('images/add.svg', 'add', {class:'button'})
          !=img_tag('images/i.svg', 'add', {class:'button'})
        ul(class='tabs')
          li my pheed
          li philters
          li pheeders
          li to phollow
    !=body
