!!!
html
  head
    title
      != title || pheed.it
    link(rel='stylesheet', href='/bootstrap.css')
    link(rel='stylesheet', href='/default.css')
    link(rel='stylesheet', href='/jplayer/skin/blue.monday/jplayer.blue.monday.css')
    link(rel='stylesheet', href='/jquery-ui-1.8.21.custom.css')
    link(rel='stylesheet', href='/jquery-ui-timepicker-addon.css')
    !=js_tag('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    !=js_tag('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    !=js_tag('/jquery-ui-1.8.21.custom.min.js')
    !=js_tag('/jquery.form.js')
    !=js_tag('/jplayer/jquery.jplayer.js')
    !=js_tag('/jquery-ui-timepicker-addon.js')
    !=js_tag('/jquery.slimscroll.min.js')
    
    !=js_tag('/bootstrap.min.js')

    !=js_tag('/default.js')
  body
    .topbar.navbar.navbar-fixed-top(style='z-index: 2;')
      .navbar-inner#topbar
        !=link_to(' ','/', {class: 'logo'})
        span(class='buttons')
          !=img_tag('/images/add.svg', 'add', {class:'button'})
          !=img_tag('/images/i.svg', 'add', {class:'button'})
        ul.tabs
          li.selected my pheed
          li philters
          li pheeders
          li to phollow
        ul.tabs.pull-right
          li.dropdown
            -if (typeof user == 'undefined' || !user._id)
              !=link_to('Log in', '/login', {class: 'dropdown-toggle'})
            -else
              a.dropdown-toggle(data-toggle='dropdown')
                !=user.username
              ul.dropdown-menu
                li
                  !=link_to('Profile', '/profile')
                li
                  !=link_to('Log out', '/logout')
                
    div(style='background-image: url(/images/post-bg.png); opacity: 1;position:absolute;top:0;left:0;width:100%;height:40px; z-index: 1')
    div(id='content')
      !=body
