!!!
html
  head
    title pheed.it
    link(rel='stylesheet', href='/reset.css')
    link(rel='stylesheet', href='/default.css')
    link(rel='stylesheet', href='/jplayer/skin/blue.monday/jplayer.blue.monday.css')
    link(rel='stylesheet', href='/jquery-ui-1.8.21.custom.css')
    link(rel='stylesheet', href='/jquery-ui-timepicker-addon.css')
    !=js_tag('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    !=js_tag('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    !=js_tag('/jquery-ui-1.8.21.custom.min.js')
    !=js_tag('/jquery.form.js')
    !=js_tag('/jplayer/jquery.jplayer.js')
    !=js_tag('/jquery-ui-timepicker-addon.js')

    !=js_tag('/default.js')
  body
    .topbar
      div(id='topbar', style='z-index: 2')
        span(class='logo')
          !=img_tag('images/logo_p.svg', '', {class:'logo_p'}) + 'hee' + img_tag('images/logo_d.svg', '', {class:'logo_d'}) + '.it'
        span(class='buttons')
          !=img_tag('images/add.svg', 'add', {class:'button'})
          !=img_tag('images/i.svg', 'add', {class:'button'})
        ul(class='tabs')
          li.selected my pheed
          li philters
          li pheeders
          li to phollow
    !=body
