div(class='post')
  div(class='title')
    div(class='image')
      !=img_tag('images/huff.png')
    div(class='titletext')
      !=post.title
  !=partial('controls')
  div(class='text')
    !=htmlentities(post.data.content)