div(class='post')
  div(class='title')
    div(class='image')
      !=img_tag('images/huff.png')
    div(class='titletext')
      !=post.title
  !=partial('controls')
  - if (post.data.contenttype && post.data.datatype)
    div(class='text attachment')
      -if (post.data.datatype == 'photo')
        div(class='image')
          !=img_tag('/upload/' + post._id)
      div
        !=htmlentities(post.message)
  - else
    div(class='text')
    !=htmlentities(post.message)