div(class='post')
  div(class='title')
    div(class='image')
      !=img_tag('images/huff.png')
    div(class='titletext')
      !=post.title
  !=partial('controls')
  - if (post.data.contenttype && post.data.datatype != 'audio')
    div(class='text attachment')
      -if (post.data.datatype == 'photo')
        div(class='image')
          !=img_tag('/post/attachment/' + post._id + '?mime=' + post.data.contenttype)
      div
        !=htmlentities(post.message)
  - else
    div(class='text')
      -if (post.data.datatype == 'audio')
        div(class='audio')
          !=partial('player_audio.ejs', {player_id: embed_index, post_id: post._id, type: post.data.contenttype})
          !=htmlentities(post.message)
      -else
        !=htmlentities(post.message)
