.post(data-id=post._id)
  .title
    .image
      !=img_tag('images/huff.png')
    .titletext.selectable
      !=post.title
  !=partial('controls')
  - if (typeof post.data != 'undefined' && post.data.contenttype && post.data.datatype != 'audio')
    .text.attachment
      -if (post.data && post.data.datatype == 'photo')
        .image
          !=img_tag('/post/attachment/' + post._id + '?mime=' + post.data.contenttype)
      -if (post.data && post.data.datatype == 'video')
        .image
          !=partial('player_video.ejs', {player_id: embed_index, post_id: post._id, type: post.data.contenttype})
      -if (post.data && post.data.datatype == 'file')
        .image
          !=link_to(img_tag('/images/download.png', 'Download file', {class: 'download'}), '/post/attachment/' + post._id + '?mime=' + post.data.contenttype + '&d=1')
      -if (post.data && post.data.datatype == 'link')
        .image
          -var m
          -if (m = post.data.contenttype.match(/^https?:\/\/([A-Za-z0-9]+\.)*youtube\.com\/.+\?((&.*)*&)?v=([^&]+)/))
            iframe(class='embeddedVideo', src='http://www.youtube.com/embed/' + m[4] + '?wmode=opaque', allowfullscreen)
          -else if (m = post.data.contenttype.match(/^https?:\/\/([A-Za-z0-9]+\.)*vimeo\.com\/([\d]+)/))
            iframe(class='embeddedVideo', src='http://player.vimeo.com/video/' + m[2], allowfullscreen)
      .selectable
        !=htmlentities(post.message)
  - else
    .text
      -if (post.data && post.data.datatype == 'audio')
        .audio
          !=partial('player_audio.ejs', {player_id: embed_index, post_id: post._id, type: post.data.contenttype})
          !=htmlentities(post.message)
      -else
        .selectable
          !=htmlentities(post.message)
