div(class='post')
  div(class='title')
    div(class='image')
      !=img_tag('images/huff.png')
    div(class='titletext selectable')
      !=post.title
  !=partial('controls')
  - if (typeof post.data != 'undefined' && post.data.contenttype && post.data.datatype != 'audio')
    div(class='text attachment')
      -if (post.data.datatype == 'photo')
        div(class='image')
          !=img_tag('/post/attachment/' + post._id + '?mime=' + post.data.contenttype)
      -if (post.data.datatype == 'video')
        div(class='image')
          !=partial('player_video.ejs', {player_id: embed_index, post_id: post._id, type: post.data.contenttype})
          -//iframe(width="256", height="200", src="http://player.vimeo.com/video/39213338?color=ffffff", frameborder="0", allowfullscreen)
      div(class='selectable')
        !=htmlentities(post.message)
  - else
    div(class='text')
      -if (post.data.datatype == 'audio')
        div(class='audio')
          !=partial('player_audio.ejs', {player_id: embed_index, post_id: post._id, type: post.data.contenttype})
          !=htmlentities(post.message)
      -else
        div(class='selectable')
          !=htmlentities(post.message)
