div(class='publisher')
  div(class='title')
    input(name='title')
  div(class='lr')
    span(class='bold') Link Text
    span 40
  div
    div(class='button') text
    div(class='button') photo
    div(class='button') audio
    div(class='button') video
    textarea(name='message')
  div(class='lr')
    span(class='bold') pheed.to
    span 400
  div(class='lr')
    div
      div
        input(name='pheedto',value='pheed.it user or email(s)')
      div(class='lr')
        span
          input(type='checkbox', id='private')
          label(for='private') private message
        span
          input(type='checkbox', id='location')
          label(for='location')
            !=img_tag('images/location.svg', 'location')
    div(class='pheedit')
      !=img_tag('images/pheedit.svg', 'pheed it!')
      span pheed.it