div(class='publisher')
  div
    input(name='title')
  div Link Text
  div
    div(class='button') text
    div(class='button') photo
    div(class='button') audio
    div(class='button') video
  div
    textarea(name='message')
  div
    span pheed.to
    span 400
  div
    div
      input(name='pheedto',value='pheed.it user or email(s)')
    div
      input(type='checkbox')
      private message
  div pheed.it