form(id='poster',enctype='multipart/form-data',action='/post',method='post')
  .publisher
    div
      input(name='title',class='title greyed',value='Title your post here')
    .lr
      span(class='bold') Link Text
      span 40
    div
      .button.selected text
      .button photo
      .button audio
      .button video
      .button file
      .button event
      input(type='hidden',id='datatype',name='datatype')
      .upload
        .embedtype
          label
            input(type='radio', name='embedtype', checked='checked', value='file')
            span Attach File
          label
            input(type='radio', name='embedtype', value='url')
            span Embed URL
        input(class='embed greyed', name='embed_url', value='Enter embed URL')
        .file
          .addfile Add files...
          input(type='file',id='file',name='file')
      .eventinfo
        div
          label
            span Date
            input(type='date')
        div
          label
            span Time
            input(type='time')
        div
          label
            span Location
            input.location
        div
          img.map
      textarea(name='message', class='message greyed') Enter your text here
    .lr
      span(class='bold') pheed.to
      span(class='underline') link text
    .lr
      div
        input(name='pheedto',class='pheedto greyed',value='user, pheeder, email, cell')
      .pheedit
        input(type='image',src='images/pheedit.svg')
        span pheed.it
    .lr
      label
        input(type='checkbox', id='private')
        span private message
      label
        input(type='checkbox', id='location')
        span
          !=img_tag('images/location.svg', 'location')