form(id='poster',enctype='multipart/form-data',action='/post',method='post')
  div(class='publisher')
    div
      input(name='title',class='title greyed',value='Title your post here')
    div(class='lr')
      span(class='bold') Link Text
      span 40
    div
      div(class='button selected') text
      div(class='button') photo
      div(class='button') audio
      div(class='button') video
      div(class='button') file
      div(class='button') event
      input(type='hidden',id='datatype',name='datatype')
      div(class='upload')
        div
          input(class='embed greyed', value='Enter embed URL')
        input(type='file',id='file',name='file')
      textarea(name='message', class='message greyed') Enter your text here
    div(class='lr')
      span(class='bold') pheed.to
      span 400
    div(class='lr')
      div
        input(name='pheedto',class='pheedto greyed',value='user, pheeder, email, cell')
      div(class='pheedit')
        input(type='image',src='images/pheedit.svg')
        span pheed.it
    div(class='lr')
      label
        input(type='checkbox', id='private')
        span private message
      label
        input(type='checkbox', id='location')
        span
          !=img_tag('images/location.svg', 'location')