form.publisher(action='/post',method='post')
  != form_csrf
  div
    input(name='title',class='title',placeholder='Title your post here', type='text')
    div(class='publishertype')
      .publish_buttons
        .button.selected text
        .button photo
        .button audio
        .button video
        .button file
        .button event
      input(type='hidden',id='datatype',name='datatype')
      .publisher_extras
        .upload
          .embedtype
            label
              input(type='radio', name='embedtype', checked='checked', value='file')
              span Attach File
            label
              input(type='radio', name='embedtype', value='url')
              span Embed URL
          input(class='embed', name='embed_url', placeholder='Enter embed URL', type='text')
          .file
            .addfile Add files...
            input(type='file',id='file',name='file')
        .eventinfo
          div
            label
              span Date
              input(type='date')
          div
            label
              span Time
              input(type='time')
          div
            label
              span Location
              input.location(type='text')
          div
            img.map
    textarea.message(name='message', placeholder='Enter your text here')
    .lr
      span(class='bold') pheed.to
      span(class='underline') link text
    div
      input(name='pheedto',class='pheedto',placeholder='user, pheeder, email, cell', type='text')
      .pheedit
        input(type='image',src='/assets/pheedit.svg')
        span pheed.it
    .lr
      label
        input(type='checkbox', id='private')
        span private message
      label
        input(type='checkbox', id='location')
        span
          !=img_tag('/assets/location.svg', 'location')
