img(src='/images/splash.png', class='splash_bg')
.splashpage
  img(src='/images/pheedit_logo.png', class='splash_logo')
  div
    input(placeholder='username')
    span.button.signup sign up
  div
    input(placeholder='password')
    span.button.signin sign in