<div class="controls" style="position: relative">
  <div>
    <div class="control like" title="<%= post.likes.length %>"></div>
    <div class="control dislike" title="<%= post.dislikes.length %>"></div>
  </div>
  <div>
    <div class="control comment" title="Comment"></div>
    <div class="control pheedto" title="Share with"></div>
  </div>
  <div>
    <div class="control favorite" title="Favorite"></div>
    <div class="control repheed" title="Re-share"></div>
  </div>
  <div>
    <div class="control facebook"></div>
    <div class="control twitter"></div>
  </div>
</div>