.controls
  vertical-align top
  margin 0 5px 3px 5px
  float left
  background url(/images/controls.png) no-repeat

  div
    .control
      display inline-block
      width 30px
      height: 35px
      position relative
      text-align center

      &:hover
        background rgba(255,255,255,.3)

    .facebook, .twitter
      img
        max-width 20px
        max-height 20px