.controls
  vertical-align top
  margin 0 5px 3px 5px
  float left
  background url(/images/controls.png) no-repeat
  line-height 0

  div
    .control
      display inline-block
      width 30px
      height: 32px
      position relative
      text-align center

      &:hover
        background rgba(255,255,255,.3)