@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Medium.otf)
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-MedItal.otf)
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Light.otf)
  font-weight 100
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-LightItal.otf)
  font-weight 100
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Book.otf)
  font-weight 400
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-BookItal.otf)
  font-weight 400
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Bold.otf)
  font-weight bold
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-BoldItal.otf)
  font-weight bold
  font-style italic

bg-gradient(c1, c2)
  background c1
  background -moz-linear-gradient(top, c1 0%, c2 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,c1), color-stop(100%,c2))
  background -webkit-linear-gradient(top, c1 0%,c2 100%)
  background -o-linear-gradient(top, c1 0%, c2 100%)
  background -ms-linear-gradient(top, c1 0%, c2 100%)
  background linear-gradient(top, c1 0%, c2 100%)
  
.bold
  font-weight bold

.lr
  position relative
  overflow hidden
  > *:first-child
    float left
  > *:last-child
    float right
  
.aleft
  text-align left
  
.greyed
  color #CCC
  
body
  background rgb(0, 150, 255)
  font-family Helvetica

.topbar
  height 40px
  bg-gradient(rgb(0,150,255), rgb(50,54,255))
  margin-bottom 10px
  padding 0 40px
  
  #topbar
    max-width 1050px
    height 100%
    margin auto
    color white
    font-family "Gotham Rounded"
    font-size 28px
    font-weight bold
    
    .logo
      margin-right 15px
      
      .logo_p
        position relative
        top 10px
        
    .buttons
      margin 0 4px
      
      img
        vertical-align middle
        margin 0 4px
        
    .tabs
      height 100%
      font-size 16px
      font-weight 400
      display inline
        
      li
        display inline-block
        padding 10px 10px 0 10px
        height 30px
        vertical-align top
        cursor pointer
        
        &:hover
          bg-gradient(rgb(30,180,255), rgb(80,84,255))

#content
  text-align center
  margin 0 auto
  max-width 1110px
    
  .container
    display inline-block
    vertical-align top
    margin 10px 20px 20px 20px
    
    .heading
      width 310px
      height 20px
      border-top-left-radius 15px
      border-top-right-radius 15px
      padding 10px
      color white
      text-align left
      font-size 24px
      bg-gradient(rgb(177, 255, 153), rgb(138, 255, 102))
      
    .footing
      width 310px
      height 0
      border-bottom-left-radius 15px
      border-bottom-right-radius 15px
      padding 10px
      background white

.post
  width 320px
  padding 5px 10px 10px 0
  background white
  border-bottom 2px solid #CCC
  
  &:last-child
    border-bottom none
  
  .title
    width 320px
    white-space nowrap
    
    *
      white-space normal
      
    .image
      display inline-block
      width 50px
      height 50px
      vertical-align middle
      padding 5px
      
      img
        max-width 50px
        max-height 50px
        
    .titletext
      display inline-block
      vertical-align middle
      font-size 18px
      text-align left
      width 260px
          
  .text
    display inline-block
    width 260px
    height 141px
    vertical-align top
    text-align left
    font-size 14px
    overflow-y hidden

.controls
  display inline-block
  vertical-align top
  padding 0 5px
  font-size 0
  
  div
    padding 3px 0
    
    div
      display inline-block
      width 25px
      text-align center
      
      img
        max-width 25px
        max-height 25px
        margin auto
    
.publisher
  background white
  padding 5px 15px
  color rgb(51, 204, 255)
  border-bottom 2px solid #CCC
  
  div, span
    margin 5px 0
  
  .title
    width 286px
    font-size 20px
    padding 3px 5px
  
  .button
    display inline-block
    width 54px
    color white
    font-family "Gotham Rounded"
    font-size 18px
    padding 5px 10px
    background rgb(51, 204, 255)
    border 1px solid #CCC
    border-right none
    margin-bottom 0
    
    &:last-child
      width 53px
      border-right 1px solid #CCC
    
    &.selected,&:hover
      background rgb(41, 171, 226)
      cursor pointer
  .message
    display block
    width 288px
    height 196px
    border 1px solid #CCC
    border-top none
    padding 3px 5px
    
  label
    margin 0 10px 0 5px
    
  .pheedit
    width 100px
    height 36px
    position relative
    
    img
      position absolute
      top 0
      left 0
      width 100px
      
    span
      position relative
      color white
      font-family "Gotham Rounded"
      font-size 20px
      font-weight bold
      line-height 36px
      cursor pointer
