.container
  width 310px
  .topbar
    background rgb(155, 255, 125)

.controls
  font-size 0
  div
    padding 3px 0
    div
      display inline-block
      width 25px
      text-align center
      img
        max-width 25px
        max-height 25px
        margin: auto