shadow-color = rgba(102, 102, 102, .4)

@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Medium.otf)
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-MedItal.otf)
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Light.otf)
  font-weight 100
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-LightItal.otf)
  font-weight 100
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Book.otf)
  font-weight 400
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-BookItal.otf)
  font-weight 400
  font-style italic
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-Bold.otf)
  font-weight bold
@font-face
  font-family "Gotham Rounded"
  src url(/GothamRnd-BoldItal.otf)
  font-weight bold
  font-style italic

bg-gradient(c1, c2)
  background c1
  background -moz-linear-gradient(top, c1 0%, c2 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,c1), color-stop(100%,c2))
  background -webkit-linear-gradient(top, c1 0%,c2 100%)
  background -o-linear-gradient(top, c1 0%, c2 100%)
  background -ms-linear-gradient(top, c1 0%, c2 100%)
  background linear-gradient(top, c1 0%, c2 100%)

.bold
  font-weight bold

.lr
  position relative
  overflow hidden
  > *:first-child
    float left
  > *:last-child
    float right

.aleft
  text-align left

.greyed
  color #CCC
  font-size .8em

body
  min-width 330px
  //background rgb(0, 150, 255)
  background url(images/bg.png) repeat
  font-family Helvetica

.topbar
  position fixed
  top 0
  left 0
  width 100%
  bg-gradient(rgb(0,150,255), rgb(50,54,255))
  margin-bottom 10px
  box-shadow 0 0 20px 5px shadow-color
  z-index 100

  #topbar
    max-width 1050px
    height 100%
    margin auto
    color white
    font-family "Gotham Rounded"
    font-size 28px
    font-weight bold

    > *
      display inline-block
      height 100%
      vertical-align middle

    .logo
      margin-right 15px
      position relative
      top -3px

      .logo_p
        position relative
        top 10px

    .buttons
      margin 0 4px

      img
        vertical-align middle
        margin 0 4px

    .tabs
      font-size 16px
      font-weight 400
      white-space nowrap

      > *
        white-space normal

      li
        display inline-block
        padding 10px 10px 0 10px
        height 30px
        vertical-align top
        cursor pointer

        &:hover
          bg-gradient(rgb(30,180,255), rgb(80,84,255))

        &.selected
          bg-gradient(rgb(0,121,207), rgb(18,21,255))

#content
  text-align center
  margin 0 auto
  margin-top 50px
  max-width 1110px

  .container
    display inline-block
    vertical-align top
    margin 10px 20px 20px 20px

    > div
      box-shadow 0 0 30px 0px shadow-color

    .heading
      width 310px
      height 20px
      border-top-left-radius 10px
      border-top-right-radius 10px
      padding 7px 10px 13px 10px
      color white
      text-align left
      font-family "Gotham Rounded"
      font-size 24px
      font-weight bold
      //bg-gradient(rgb(177, 255, 153), rgb(138, 255, 102))
      background url(images/container-heading-bg.png) repeat


    .footing
      width 310px
      height 0
      border-bottom-left-radius 10px
      border-bottom-right-radius 10px
      padding 10px
      background url(images/post-bg.png) repeat

.post
  position relative
  overflow hidden
  //width 320px
  background url(images/post-bg.png) repeat
  box-shadow 0 8px 15px -8px shadow-color inset
  //margin-bottom 5px
  padding-bottom 15px
  padding-top 8px

  &:last-child
    border-bottom none

  .title
    width 320px
    white-space nowrap

    *
      white-space normal

    .image
      display inline-block
      width 50px
      height 50px
      vertical-align middle
      padding 5px

      img
        max-width 50px
        max-height 50px

    .titletext
      display inline-block
      vertical-align middle
      font-size 18px
      text-align left
      width 260px

  .text
    display inline-block
    width 245px
    vertical-align top
    text-align left
    font-size 14px
    margin 0 3px
    /*overflow-y hidden*/

    &.attachment
      .download
        width 160px

    .image
      text-align center
      /*border 2px solid rgb(41, 171, 226)*/
      margin 5px 0 10px 0

      img
        max-width 100%
        /*max-height 168px*/

      .embeddedVideo
        max-width 100%

.controls
  vertical-align top
  margin 3px
  float left
  background url(/images/controls.png) no-repeat

  div
    //padding 3px 0

    div.control
      display inline-block
      width 30px
      height: 35px
      position relative
      text-align center

      div.counter
        position absolute
        width 100%
        bottom 0
        color rgb(51, 204, 255)
        font-family "Gotham Rounded"
        font-size 8px
        font-weight 400

    .facebook, .twitter
      img
        max-width 20px
        max-height 20px

.publisher
  /*height 508px*/
  background url(images/publisher-bg.png) repeat
  padding 5px 15px
  color rgb(50, 54, 255)
  /*border-bottom 2px solid #CCC*/
  box-shadow 0 8px 15px -8px shadow-color inset

  input.title, textarea.message, input.pheedto
    opacity .6

  > div, > span
    margin 5px 0

  .title
    width 286px
    font-size 20px
    padding 3px 5px
    border-radius 10px

  .button
    display inline-block
    width 50px
    color white
    font-family "Gotham Rounded"
    font-size 14px
    padding 5px 0px
    //background rgb(51, 204, 255)
    bg-gradient(rgb(30,180,255), rgb(80,84,255))
    //border 1px solid #CCC
    //border-right none
    margin-bottom 0
    text-align center

    &:last-child
      width 53px
      //border-right 1px solid #CCC

    &.selected,&:hover
      //background rgb(41, 171, 226)
      bg-gradient(rgb(0,150,255), rgb(50,54,255))
      cursor pointer

  .upload
    display none
    width 296px
    margin 0

    .embedtype
      display none
      margin 5px 0

    .embed
      display none
      width 290px
      height 30px
      padding 0 3px
      margin 3px 0

    .file
      position relative
      height 42px

      input
        position absolute
        opacity 0
        width 286px
        padding 5px

      .addfile
        position absolute
        top 0
        left 0
        width 100%
        height 30px
        margin 5px 0
        line-height 30px
        bg-gradient(hsl(120, 45, 68), hsl(120, 34, 58))
        border-bottom-color: rgba(0, 0, 0, 0.246094);
        box-shadow rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
        border-bottom-color: rgba(0, 0, 0, 0.246094);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgba(0, 0, 0, 0.0976563);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgba(0, 0, 0, 0.0976563);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgba(0, 0, 0, 0.0976563);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-style: solid;
        border-top-width: 1px;
        color: rgb(255, 255, 255);
        text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;

        &.loaded
          bg-gradient(hsl(120, 45, 58), hsl(120, 34, 48))

  .eventinfo
    display none
    text-align left

    > div
      margin 5px 0

      > label
        > span
          display inline-block
          width 60px
          text-align left

        > input
          width 221px

  .message
    display block
    width 288px
    height 196px
    border 1px solid #CCC
    border-top none
    padding 3px 5px
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px

  .pheedto
    width 186px
    height 32px
    padding 0 3px
    border-radius 10px

  label span
    margin 0 10px 0 5px

  .pheedit
    width 100px
    height 45px
    position relative

    input
      position absolute
      top 0
      left 0
      width 100px
      border none
      box-shadow 0 3px 15px -3px shadow-color

    span
      position relative
      color white
      font-family "Gotham Rounded"
      font-size 20px
      font-weight bold
      line-height 36px
      cursor pointer
