shadow-color = rgba(102, 102, 102, .4)
  
bg-gradient(c1, c2)
  background c1
  background -moz-linear-gradient(top, c1 0%, c2 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,c1), color-stop(100%,c2))
  background -webkit-linear-gradient(top, c1 0%,c2 100%)
  background -o-linear-gradient(top, c1 0%, c2 100%)
  background -ms-linear-gradient(top, c1 0%, c2 100%)
  background linear-gradient(top, c1 0%, c2 100%)
  
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  
@import fonts
@import topbar
@import post
@import controls
@import publisher
@import splash

.bold
  font-weight bold

.underline
  text-decoration underline

.lr
  position relative
  overflow hidden
  > *:first-child
    float left
  > *:last-child
    float right

.aleft
  text-align left

body
  min-width 330px
  font-size inherit
  background url(/assets/bg.png) repeat
  font-family Helvetica

#content
  text-align center
  margin 0 auto
  margin-top 50px
  max-width 1110px

  .column
    display inline-block
    vertical-align top
    margin 10px 20px 20px 20px
    width 330px
  
    > .container
      display inline-block
      vertical-align top
      margin 10px 20px 20px 20px
      text-align left
      width 330px
      
      .slimScrollDiv, .publisher
        box-shadow 5px 0 10px -5px rgba(102, 102, 102, .4), -5px 0 10px -5px rgba(102, 102, 102, .4)
        
      .publisher
        box-shadow 5px 0 10px -5px rgba(102, 102, 102, .4), -5px 0 10px -5px rgba(102, 102, 102, .4)
        
        > div
          box-shadow 0 0 2px 1px shadow-color inset

      .heading
        box-shadow 0 0 10px 0px shadow-color, 0 1px 1px 0px rgba(255,255,255,.5) inset, 0 -1px 1px 0px rgba(102, 102, 102, .3) inset
        border-top-left-radius 10px
        border-top-right-radius 10px
        padding 8px 10px 14px 10px
        color white
        text-align left
        font-family "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif
        font-size 24px
        font-weight 300
        //bg-gradient(rgb(177, 255, 153), rgb(138, 255, 102))
        background url(/assets/container-heading-bg.png) repeat
        text-shadow 0 1px 1px shadow-color = rgba(102, 102, 102, .6)

      .content
        //box-shadow 0 8px 15px -8px shadow-color inset
        box-shadow 0 3px 8px -3px shadow-color inset, 0 -3px 8px -3px shadow-color inset
        background url(/assets/post-bg.png) repeat
        
        .posts
          background url(/assets/post-bg.png) repeat

      .footing
        box-shadow 0 0 10px 0px shadow-color, 0 1px 1px 0px rgba(255,255,255,.7) inset, 0 -1px 1px 0px shadow-color inset
        height 0
        border-bottom-left-radius 10px
        border-bottom-right-radius 10px
        padding 15px
        //background url(/assets/post-bg.png) repeat
        background url(/assets/container-heading-bg.png) repeat
        margin-bottom -5px
        
      &.ui-resizable .ui-resizable-handle
        height 30px
        background url(/assets/scroll_handle.png) center no-repeat

// Bootstrap Overrides

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  color: inherit;
  height: inherit;
}

.tooltip-inner
  bg-gradient(rgba(0,150,255,.9), rgba(50,54,255,.9))

.tooltip.top .tooltip-arrow
  border-top-color rgb(0,133,226)
  
