shadow-color = rgba(102, 102, 102, .4)

.post
  position relative
  overflow hidden
  box-shadow inset 0 6px 10px -8px shadow-color
  padding-bottom 15px
  padding-top 8px
  word-break break-word
  font-family Georgia, Garamond, Serif
  
  &:first-child
    box-shadow none

  &:last-child
    border-bottom none

  .title
    white-space nowrap
    font-weight bold

    *
      white-space normal

    .image
      display inline-block
      vertical-align middle
      padding 5px 10px 10px 10px

      img
        max-width 50px
        max-height 50px
        box-shadow 0 0 5px 0 shadow-color
        border-radius 3px

    .titletext
      display inline-block
      vertical-align middle
      font-size 18px
      text-align left
      margin-right 10px
      max-width 240px

  .text
    display inline-block
    width 245px
    vertical-align top
    text-align left
    font-size 14px
    margin 0 3px

    &.attachment
      .download
        width 160px
      
      iframe
        min-width 250px
        max-width 100%
        min-height 250px

    .image
      text-align center
      /*border 2px solid rgb(41, 171, 226)*/
      margin 5px 0 10px 0
        
      img
        max-width 100%
        box-shadow 0 0 5px 0 shadow-color
        border-radius 3px
        /*max-height 168px*/

      .embeddedVideo
        max-width 100%
        
    .selectable
      height 200px
      overflow-y hidden
      
      &.showall
        height auto
      
    .showmore, .showless
      display none
      text-align right
      text-decoration underline

.enlarged-image img
  &:full-screen
    max-width 100%
    max-height 100%
    width auto
    height auto
  &:-moz-full-screen
    max-width 100%
    max-height 100%
    width auto
    height auto
  &:-webkit-full-screen
    max-width 100%
    max-height 100%
    width auto
    height auto