shadow-color = rgba(102, 102, 102, .4)

.publisher
  margin inherit
  overflow hidden

  > div
    background url(/assets/publisher-bg.png) repeat
    color rgb(153, 102, 51)
    //box-shadow 0 8px 15px -8px shadow-color inset
    font-family "museo"
    padding 0 20px 20px
    overflow hidden
    
    input, textarea, .token-input-list-facebook
      background-color rgba(255,255,255,.6)
      font-family "Garamond"
      color black
      height inherit
    
    .title, .message
      display block
      width 100%
      
    .title
      font-size 18px
      border-radius 5px
      font-weight bold
      margin 15px 0 8px 0
      padding 3px 5px

    .publishertype
      margin-bottom 0
      text-align center
      
      .publish_buttons
        display inline-block
        text-shadow 0 1px 1px rgba(0, 0, 0, .6)
        
        .button
          display inline-block
          min-width 41px
          color white
          font-family "museo"
          font-size 14px
          bg-gradient(rgb(30,180,255), rgb(80,84,255))
          padding 0 7px
          margin-bottom 0
          box-shadow 0 0 3px 1px shadow-color
          &:first-child
            border-top-left-radius 5px
            width 42px
          &:nth-child(6)
            border-top-right-radius 5px
          &.selected,&:hover
            bg-gradient(rgb(0,150,255), rgb(50,54,255))
            cursor pointer
            
      .publisher_extras
        border-left 1px solid #CCC
        border-right 1px solid #CCC

        .upload
          display none
          margin 0
          .embedtype
            display none
          .embed
            display none
            height 30px
          .file
            position relative
            input
              position absolute
              top 0
              left 0
              opacity 0
            .addfile
              top 0
              left 0
              height 30px
              text-align center
              line-height 30px
              bg-gradient(hsl(120, 45, 68), hsl(120, 34, 58))
              border-bottom-color: rgba(0, 0, 0, 0.246094);
              box-shadow rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
              border-bottom-color: rgba(0, 0, 0, 0.246094);
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-left-color: rgba(0, 0, 0, 0.0976563);
              border-left-style: solid;
              border-left-width: 1px;
              border-right-color: rgba(0, 0, 0, 0.0976563);
              border-right-style: solid;
              border-right-width: 1px;
              border-top-color: rgba(0, 0, 0, 0.0976563);
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              border-top-style: solid;
              border-top-width: 1px;
              color: rgb(255, 255, 255);
              text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
              &.loaded
                bg-gradient(hsl(120, 45, 58), hsl(120, 34, 48))
        .eventinfo
          display none
          margin-top 10px
          margin-bottom 0
          > div
            > label
              > span
                display inline-block
                text-align left

    textarea
      height 196px
      font-size 14px
      border-bottom 1px solid #CCC
      border-top none
      border-bottom-left-radius 10px
      border-bottom-right-radius 10px
      
    .pheedto, .token-input-list-facebook
      height 32px
      border-radius 5px
      padding 0 5px
      
    /* Example tokeninput style #2: Facebook style */
    ul.token-input-list-facebook {
        display inline-block
        overflow: hidden; 
        height: auto !important; 
        height: 1%;
        width: 210px;
        border: inherit;
        cursor: text;
        font-size: 12px;
        font-family: Verdana, sans-serif;
        min-height: 1px;
        z-index: 999;
        margin: 0;
        padding: 0;
        background-color: 1px solid #CCC;
        list-style-type: none;
        clear: left;
        border: 1px solid rgb(204, 204, 204);
    }

    ul.token-input-list-facebook li input {
        border: 0;
        width: 100px;
        padding: 3px 8px;
        background-color: inherit;
        margin: 2px 0;
        -webkit-appearance: caret;
    }

    li.token-input-token-facebook {
        overflow: hidden; 
        height: auto !important; 
        height: 15px;
        margin: 3px;
        padding: 1px 3px;
        background-color: #eff2f7;
        color: #000;
        cursor: default;
        border: 1px solid #ccd5e4;
        font-size: 11px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        float: left;
        white-space: nowrap;
    }

    li.token-input-token-facebook p {
        display: inline;
        padding: 0;
        margin: 0;
    }

    li.token-input-token-facebook span {
        color: #a6b3cf;
        margin-left: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    li.token-input-selected-token-facebook {
        background-color: #5670a6;
        border: 1px solid #3b5998;
        color: #fff;
    }

    li.token-input-input-token-facebook {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    div.token-input-dropdown-facebook {
        position: absolute;
        width: auto;
        background-color: inherit;
        overflow: hidden;
        border-left: inherit;
        border-right: inherit;
        border-bottom: inherit;
        cursor: default;
        font-size: 11px;
        font-family: Verdana, sans-serif;
        z-index: 1;
    }

    div.token-input-dropdown-facebook p {
        margin: 0;
        padding: 5px;
        font-weight: bold;
        color: #777;
    }

    div.token-input-dropdown-facebook ul {
        margin: 0;
        padding: 0;
    }

    div.token-input-dropdown-facebook ul li {
        background-color: inherit;
        padding: 3px;
        margin: 0;
        list-style-type: none;
    }

    div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
        background-color: inherit;
    }

    div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
        background-color: inherit;
    }
  
    .pheedit
      display inline-block
      position relative
      text-align center
      height 100%
      width auto
      padding 0 6px
      line-height 36px
      text-shadow 0 1px 1px shadow-color = rgba(102, 102, 102, .6)
      
      input
        position absolute
        top 5px
        left 0
        border none
        box-shadow 0 3px 15px -3px shadow-color
        width 100%
        height auto
        
      span
        position relative
        color white
        font-size 16px
        font-weight bold
        line-height 36px
        cursor pointer
