.splash_bg
  height 100%
  width 100%
  position absolute
  top 0
  left 0

.splashpage
  position absolute
  top 40%
  width 100%
  left 0
  
  .splash_logo
    display block
    margin auto
    
  form
    > div
      margin 15px auto
      
    input
      font-size 18px
      border-radius 5px
      font-weight bold
      padding 3px 5px
      margin 0 5px
      
    .button
      font-family "Gotham Rounded"
      font-weight bold
      font-size 18px
      height 32px
      width 96px
      display inline-block
      margin 0 5px
      color #ffffff
      padding 5px 15px
      border-radius 5px
      border 0px solid #171717
      box-shadow 0px 0px 5px rgba(0,0,0,.5), inset 0px 0px 8px rgba(0,0,0,.2)
      text-shadow 0px -1px 0px rgba(0,0,0,.3), 0px 1px 0px rgba(255,255,255,0.3)
      
      &.signup
        bg-gradient #ffcc32 #ff9a02
      &.signin
        bg-gradient #0099ff #3138ff